
/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper p{
	padding:0px;
	margin:0px;
	height:38px;
	line-height:38px;
	background:url(../img/bg_zigtop.png) repeat-x bottom #91be1e;
}

#menuwrapper p span{
	display:inline-block;
	width:100%;
	padding-left:20px;
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
	font-family:"Roboto_Bold";	
	background:url(../img/icon_mnl.png) no-repeat center right 20px;
	padding-right:30px;
}

#menuwrapper ul{
	width:100%;
	padding:0px;	
	margin:0px;
	border:2px solid #91be1e;
	border-bottom:1px solid #91be1e;
	border-top:0px;
	background:url(../img/bg_zigbottom.png) repeat-x bottom;
}

#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}

#menuwrapper ul li span{
    padding-right:5px;
	color:#91be1e;
}

/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
    width:100%;
	height:40px;
	line-height:40px;
	cursor:pointer;
	border-bottom:1px dashed #ccc;
}

#menuwrapper ul li:nth-last-child(1){
    border-bottom:0px;
}


/* We apply the background hover color when user hover the mouse over of the li component */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover,
#menuwrapper ul li.iehover{
    position:relative;
	z-index: 1000;
}

#menuwrapper ul li:hover a,
#menuwrapper ul li.iehover a{
	color:#f20000;
	text-decoration:none;
}


/* We apply the link style */
#menuwrapper ul li a{
	color:#333;
	font-size:16px;	
	padding-left:15px;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:none;
	background:#fff;
	border:2px solid #91be1e;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul, 
#menuwrapper ul li.iehover ul{
    right:100%;
    top:0px;
    display:block;
}

/* we apply different background color to 2nd level menu items*/
#menuwrapper ul li ul li{
	width:100%;
	margin:0px;
	background:none;
}

/* We change the background color for the level 2 submenu when hovering the menu */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li:hover,
#menuwrapper ul li.iehover ul li.iehover{
    background-position:center;
}

/* We style the color of level 2 links */
#menuwrapper ul li ul li a{
	display:inline-block;
	width:270px;
    color:#333!important;
}

#menuwrapper ul li ul li a:hover{
    color:#f20000!important;
}

/**** THIRD LEVEL MENU ****/
/* We need to hide the 3rd menu, when hovering the first level menu */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li ul,
#menuwrapper ul li.iehover ul li ul{
    position:absolute;
    display:none;
}

/* We show the third level menu only when they hover the second level menu parent */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li:hover ul,
#menuwrapper ul li.iehover ul li.iehover ul{
    display:block;
    left:100%;
    top:0;
}

/* We change the background color for the level 3 submenu*/
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li:hover ul li,
#menuwrapper ul li.iehover ul li.iehover ul li{
   

}

/* We change the background color for the level 3 submenu when hovering the menu */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li:hover ul li:hover,
#menuwrapper ul li.iehover ul li.iehover ul li.iehover{
     

}

/* We change the level 3 link color */
/* for IE < 9 we using class .iehover */
#menuwrapper ul li:hover ul li:hover ul li a,
#menuwrapper ul li.iehover ul li.iehover ul li a{
    color:#ffffff;
}

/* Clear float */
.clear{
    clear:both;
}